/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 18, ../sass/screen.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Myriad Pro",sans-serif;
}

/* line 25, ../sass/screen.scss */
li {
  list-style: none;
}

/* line 28, ../sass/screen.scss */
header {
  position: absolute;
  width: 100%;
  height: 10%;
  padding-top: 2%;
  z-index: 10;
}
@media screen and (max-width: 375px) {
  /* line 28, ../sass/screen.scss */
  header {
    height: 5%;
    padding-top: 1%;
  }
}
/* line 39, ../sass/screen.scss */
header ul li {
  float: left;
}
/* line 41, ../sass/screen.scss */
header ul li a {
  text-decoration: none;
}
/* line 45, ../sass/screen.scss */
header ul li:first-child {
  margin-left: 150px;
}
@media screen and (max-width: 375px) {
  /* line 45, ../sass/screen.scss */
  header ul li:first-child {
    margin-left: 25px;
  }
}
/* line 50, ../sass/screen.scss */
header ul li:first-child .logo {
  margin-top: 16%;
}
@media screen and (max-width: 375px) {
  /* line 50, ../sass/screen.scss */
  header ul li:first-child .logo {
    margin-top: 2%;
  }
}
/* line 55, ../sass/screen.scss */
header ul li:first-child .logo span.logo-label {
  text-transform: uppercase;
}
/* line 59, ../sass/screen.scss */
header ul li:first-child span.circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: transparent;
  border: 2px solid #ff343d;
  border-radius: 50%;
  margin-left: 8px;
  margin-bottom: 10px;
}
/* line 70, ../sass/screen.scss */
header ul li:nth-child(2) {
  color: #98a6aa;
  margin-left: 60px;
  margin-top: 1%;
}
@media screen and (max-width: 375px) {
  /* line 70, ../sass/screen.scss */
  header ul li:nth-child(2) {
    margin-left: 20px;
  }
}
/* line 78, ../sass/screen.scss */
header ul li:nth-child(3) {
  float: right;
  margin-right: 100px;
  margin-top: 1%;
  color: #FFF;
}
@media screen and (max-width: 375px) {
  /* line 78, ../sass/screen.scss */
  header ul li:nth-child(3) {
    margin-right: -33px;
  }
}
/* line 86, ../sass/screen.scss */
header ul li:nth-child(3) .menu {
  float: right;
  margin-left: 40px;
  margin-top: 1%;
}
/* line 90, ../sass/screen.scss */
header ul li:nth-child(3) .menu span {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 4px;
  background: #FFF;
  border-radius: 3px;
}

/* line 102, ../sass/screen.scss */
.landing {
  height: 100%;
}
/* line 104, ../sass/screen.scss */
.landing #left-grey {
  width: 60%;
  height: 100%;
  float: left;
  background-color: #eff2f6;
}
@media screen and (max-width: 375px) {
  /* line 104, ../sass/screen.scss */
  .landing #left-grey {
    width: 60%;
  }
}
/* line 112, ../sass/screen.scss */
.landing #left-grey .slider.slick-initialized.slick-slider.slick-dotted.slick-vertical {
  position: relative;
  top: 40%;
  left: 10%;
}
@media screen and (max-width: 375px) {
  /* line 112, ../sass/screen.scss */
  .landing #left-grey .slider.slick-initialized.slick-slider.slick-dotted.slick-vertical {
    top: 60%;
  }
}
/* line 119, ../sass/screen.scss */
.landing #left-grey .slider.slick-initialized.slick-slider.slick-dotted.slick-vertical ul.slick-dots {
  transform: rotate(90deg);
  position: absolute;
  right: 55%;
  bottom: 34%;
}
/* line 125, ../sass/screen.scss */
.landing #left-grey .slider.slick-initialized.slick-slider.slick-dotted.slick-vertical .slick-dots li button:before {
  font-size: 20px;
  line-height: 20px;
}
/* line 129, ../sass/screen.scss */
.landing #left-grey .slider.slick-initialized.slick-slider.slick-dotted.slick-vertical p {
  color: #000;
  font-size: 20px;
  font-weight: lighter;
  text-align: left;
}
/* line 134, ../sass/screen.scss */
.landing #left-grey .slider.slick-initialized.slick-slider.slick-dotted.slick-vertical p span {
  margin: 0;
  padding: 0;
  color: #92a1a5;
  font-size: 10px;
}
/* line 143, ../sass/screen.scss */
.landing #center {
  z-index: 8;
  top: 50%;
  left: 60%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 400px;
  height: 400px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 375px) {
  /* line 143, ../sass/screen.scss */
  .landing #center {
    width: 130px;
    height: 130px;
  }
}
/* line 157, ../sass/screen.scss */
.landing #center img {
  width: 650px;
  position: absolute;
  top: 5%;
  right: -30%;
}
@media screen and (max-width: 375px) {
  /* line 157, ../sass/screen.scss */
  .landing #center img {
    width: 200px;
  }
}
/* line 167, ../sass/screen.scss */
.landing #right-red {
  float: left;
  background-color: #ff343d;
  width: 40%;
  height: 100%;
}
@media screen and (max-width: 375px) {
  /* line 167, ../sass/screen.scss */
  .landing #right-red {
    width: 40%;
  }
}
/* line 175, ../sass/screen.scss */
.landing #right-red span {
  display: block;
  color: #ff343d;
  text-transform: uppercase;
  font-size: 17em;
  text-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  transform: rotate(90deg);
  position: absolute;
  top: 210px;
  right: -150px;
}
@media screen and (max-width: 375px) {
  /* line 175, ../sass/screen.scss */
  .landing #right-red span {
    font-size: 10em;
  }
}

/* line 191, ../sass/screen.scss */
.second {
  height: 50%;
}
/* line 193, ../sass/screen.scss */
.second #left {
  width: 30%;
  height: 100%;
  float: left;
  background: url("../img/section2-drone.png") no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 1024px) {
  /* line 193, ../sass/screen.scss */
  .second #left {
    width: 100%;
  }
}
/* line 203, ../sass/screen.scss */
.second #left p {
  margin-top: 150px;
  text-align: center;
  font-size: 40px;
}
/* line 207, ../sass/screen.scss */
.second #left p span {
  margin: 0;
  padding: 0;
  color: #92a1a5;
  font-size: 10px;
}
/* line 215, ../sass/screen.scss */
.second #center {
  left: 30%;
  position: absolute;
  width: 30%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 720px) {
  /* line 215, ../sass/screen.scss */
  .second #center {
    position: relative;
    left: 0;
    top: 100%;
    width: 50%;
    height: 100%;
  }
}
@media screen and (max-width: 1024px) {
  /* line 215, ../sass/screen.scss */
  .second #center {
    height: 50%;
    width: 40%;
    top: 150%;
    left: 0;
  }
}
/* line 234, ../sass/screen.scss */
.second #center p {
  color: #FFFFFF;
  font-size: 40px;
  text-align: left;
  margin-left: 10%;
  margin-top: 150px;
  margin-bottom: auto;
}
@media screen and (max-width: 720px) {
  /* line 234, ../sass/screen.scss */
  .second #center p {
    position: relative;
    font-size: 18px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 234, ../sass/screen.scss */
  .second #center p {
    margin-top: 50;
  }
}
/* line 250, ../sass/screen.scss */
.second #right {
  width: 70%;
  height: 100%;
  float: left;
  background: url("../img/section2.png") no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 1024px) {
  /* line 250, ../sass/screen.scss */
  .second #right {
    width: 100%;
  }
}
/* line 260, ../sass/screen.scss */
.second #right .btn-more {
  width: 100px;
  float: right;
  margin-top: 18%;
  margin-right: 12%;
  border-radius: 25px;
  padding: 8px;
  background-color: #FFF;
  color: #000;
  transform: rotate(-90deg);
  font-size: 12px;
  text-align: center;
}

/* line 275, ../sass/screen.scss */
.third {
  height: 50%;
  width: 100%;
  background-color: #FFF;
}
/* line 279, ../sass/screen.scss */
.third h1 {
  text-align: center;
  margin-top: 60px;
}
/* line 283, ../sass/screen.scss */
.third ul {
  padding-left: 100px;
  padding-right: 220px;
  padding-top: 60px;
}
@media screen and (max-width: 720px) {
  /* line 283, ../sass/screen.scss */
  .third ul {
    padding-left: 0;
    float: right;
    padding-right: 133px;
  }
}
/* line 292, ../sass/screen.scss */
.third ul li {
  float: left;
  width: 100px;
  margin-left: 180px;
}
@media screen and (max-width: 1024px) {
  /* line 292, ../sass/screen.scss */
  .third ul li {
    margin-left: 76px;
  }
}
/* line 299, ../sass/screen.scss */
.third ul li img {
  display: block;
  margin: 0 auto;
}
/* line 303, ../sass/screen.scss */
.third ul li span {
  text-align: center;
  display: block;
  margin-top: 50px;
}
@media screen and (max-width: 720px) {
  /* line 303, ../sass/screen.scss */
  .third ul li span {
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

/* line 316, ../sass/screen.scss */
.fourth {
  height: 60%;
}
@media screen and (max-width: 720px) {
  /* line 316, ../sass/screen.scss */
  .fourth {
    height: 40%;
  }
}
/* line 321, ../sass/screen.scss */
.fourth #left {
  width: 45%;
  height: 100%;
  float: left;
  background: url("../img/manette.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 1024px) {
  /* line 321, ../sass/screen.scss */
  .fourth #left {
    width: 100%;
  }
}
/* line 331, ../sass/screen.scss */
.fourth #left p {
  margin-top: 150px;
  text-align: center;
  font-size: 40px;
}
/* line 335, ../sass/screen.scss */
.fourth #left p span {
  margin: 0;
  padding: 0;
  color: #92a1a5;
  font-size: 10px;
}
/* line 343, ../sass/screen.scss */
.fourth #right {
  width: 55%;
  height: 100%;
  float: left;
  background: url("../img/section4-drone.png") no-repeat;
  background-position: right;
  background-size: contain;
  background-color: #232323;
}
@media screen and (max-width: 1024px) {
  /* line 343, ../sass/screen.scss */
  .fourth #right {
    width: 100%;
  }
}
/* line 354, ../sass/screen.scss */
.fourth #right p {
  margin-left: 70px;
  margin-top: 120px;
  color: #FFF;
  font-size: 65px;
}
@media screen and (max-width: 720px) {
  /* line 354, ../sass/screen.scss */
  .fourth #right p {
    font-size: 40px;
    margin-left: 40px;
  }
}
/* line 363, ../sass/screen.scss */
.fourth #right p span {
  color: #ff343d;
}
/* line 367, ../sass/screen.scss */
.fourth #right .btn-more {
  width: 100px;
  margin-top: 10px;
  margin-left: 70px;
  border-radius: 25px;
  padding: 8px;
  border: solid 1px #eff2f6;
  color: #FFF;
  font-size: 12px;
  text-align: center;
}
@media screen and (max-width: 720px) {
  /* line 367, ../sass/screen.scss */
  .fourth #right .btn-more {
    margin-left: 40px;
  }
}

/* line 383, ../sass/screen.scss */
.fifth {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  /* line 383, ../sass/screen.scss */
  .fifth {
    height: 150%;
  }
}
@media screen and (max-width: 720px) {
  /* line 383, ../sass/screen.scss */
  .fifth {
    height: 150%;
  }
}
@media screen and (max-width: 375px) {
  /* line 383, ../sass/screen.scss */
  .fifth {
    height: 200%;
  }
}
/* line 395, ../sass/screen.scss */
.fifth p {
  float: left;
  margin-left: 100px;
  margin-top: 300px;
  color: #000;
  font-size: 75px;
}
@media screen and (max-width: 1024px) {
  /* line 395, ../sass/screen.scss */
  .fifth p {
    font-size: 45px;
    margin-left: 50px;
    margin-top: 200px;
  }
}
@media screen and (max-width: 720px) {
  /* line 395, ../sass/screen.scss */
  .fifth p {
    font-size: 25px;
    margin-top: 200px;
  }
}
@media screen and (max-width: 375px) {
  /* line 395, ../sass/screen.scss */
  .fifth p {
    margin-top: 50px;
    margin-left: 25px;
  }
}
/* line 414, ../sass/screen.scss */
.fifth p span {
  color: #ff343d;
}
/* line 418, ../sass/screen.scss */
.fifth .btn-product {
  width: 150px;
  margin-left: 100px;
  margin-top: 80px;
  border: solid 2px #eff2f6;
  border-radius: 25px;
  padding: 8px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  /* line 418, ../sass/screen.scss */
  .fifth .btn-product {
    width: 15%;
    font-size: 12px;
    padding: 4px;
    margin-left: 50px;
    margin-top: 100px;
  }
}
@media screen and (max-width: 720px) {
  /* line 418, ../sass/screen.scss */
  .fifth .btn-product {
    width: 15%;
    font-size: 12px;
    padding: 4px;
    margin-left: 50px;
  }
}
@media screen and (max-width: 375px) {
  /* line 418, ../sass/screen.scss */
  .fifth .btn-product {
    margin-top: 120px;
    font-size: 8px;
    width: 80px;
    margin-left: 25px;
  }
}
/* line 446, ../sass/screen.scss */
.fifth img {
  width: 800px;
  position: relative;
  top: 150px;
  right: -100px;
}
@media screen and (max-width: 1024px) {
  /* line 446, ../sass/screen.scss */
  .fifth img {
    width: 40%;
    top: 150px;
    right: -300px;
  }
}
@media screen and (max-width: 720px) {
  /* line 446, ../sass/screen.scss */
  .fifth img {
    width: 80%;
    right: -200px;
  }
}
@media screen and (max-width: 375px) {
  /* line 446, ../sass/screen.scss */
  .fifth img {
    right: -225px;
  }
}

/* line 465, ../sass/screen.scss */
.sixth {
  width: 100%;
  height: 100%;
  background: url("../img/bateau.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 720px) {
  /* line 465, ../sass/screen.scss */
  .sixth {
    height: 50%;
  }
}
@media screen and (max-width: 375px) {
  /* line 465, ../sass/screen.scss */
  .sixth {
    height: 70%;
  }
}
/* line 477, ../sass/screen.scss */
.sixth h1 {
  text-align: center;
  color: #FFF;
  font-weight: 100;
  font-size: 50px;
  position: relative;
  top: 70%;
}
@media screen and (max-width: 1024px) {
  /* line 477, ../sass/screen.scss */
  .sixth h1 {
    top: 55%;
  }
}
@media screen and (max-width: 375px) {
  /* line 477, ../sass/screen.scss */
  .sixth h1 {
    top: 65%;
    font-size: 30px;
  }
}
/* line 492, ../sass/screen.scss */
.sixth .btn-more {
  width: 100px;
  display: block;
  margin: 0 auto;
  margin-top: 42%;
  border-radius: 25px;
  padding: 8px;
  background-color: #FFF;
  color: #318f76;
  font-size: 12px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  /* line 492, ../sass/screen.scss */
  .sixth .btn-more {
    margin-top: 45%;
  }
}
@media screen and (max-width: 375px) {
  /* line 492, ../sass/screen.scss */
  .sixth .btn-more {
    margin-top: 85%;
  }
}

/* line 511, ../sass/screen.scss */
.seventh {
  width: 100%;
  height: 50%;
}
/* line 514, ../sass/screen.scss */
.seventh h2 {
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 10em;
  font-weight: 400;
  margin: 0;
  color: #FFF;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
}
/* line 526, ../sass/screen.scss */
.seventh .footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 100;
}
/* line 533, ../sass/screen.scss */
.seventh .footer-content span.logo-label {
  text-transform: uppercase;
}
/* line 536, ../sass/screen.scss */
.seventh .footer-content span.circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: transparent;
  border: 2px solid #ff343d;
  border-radius: 50%;
  margin-left: 8px;
  margin-bottom: 10px;
}
/* line 546, ../sass/screen.scss */
.seventh .footer-content span.copyright {
  display: block;
  font-size: 0.8em;
  color: #99a7ab;
  margin-top: 20px;
}
